* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: hidden;
}
ul {
  list-style: none;
}

/* 화면 전체 영상 컨테이너 */
.video-full {
  position: relative; /* 화면 전체 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh; /* 화면 넘지 않도록 */
  overflow: hidden;
  padding: 150px 0px 150px 0px;
  box-sizing: border-box;
  /* z-index: 1; 동영상 위로 올라오게 */
}

/* video 영상 꽉 채우기 */
.video-full video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* 비디오 하단 컨트롤바 */
.video-nav {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.38); /* 흰색, 투명도 0.38 */
  border-radius: 50%; /* 원형 */
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background: rgba(235, 76, 76, 0.7);
}

/* 회사소개 섹션 */
.about-us {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.5s;
  color: #fff;
  font-weight: bold;
  position: relative;
  overflow: hidden;
}

/* 플러스 중앙 */
.about-us .plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* 텍스트 (플러스보다 위, 오른쪽에서 슬라이드) */
.about-us .list.text div {
  position: absolute;
  left: 50%;
  transform: translateX(150%); /* 오른쪽 밖에서 시작 */
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
  font-size: 7vw;
  color: #fff;
  z-index: 10;
}
/* 플러스보다 위 위치 */
.about-us .text1,
.text2,
.text3 {
  top: calc(50% - 350px);
}

/* active 클래스 붙으면 슬라이드 + 나타나기 */
.about-us .list.text div.active {
  transform: translateX(-50%); /* X축만 중앙 */
  opacity: 1;
}

/* 로고 (플러스보다 아래, 중앙) */
.about-us .logo {
  width: 50vw;
  position: absolute;
  top: calc(50% + 150px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  opacity: 0;
  transition: opacity 1s;
}

.cls-1 {
  fill: none;
  font-family: Arial-Black, Arial;
  font-size: 2.5vw;
  font-weight: 750;
  letter-spacing: -0.08em;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 0.5px;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 4s infinite linear;
}

.about-us .logo.on {
  opacity: 1;
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

/* footer */
/* 푸터 전체 */
footer {
  background-color: #f44d4d; /* 어두운 배경 */
  color: #fff;
  padding: 100px 5px 5px 5px;
  /* padding top에 100px 일단 줌 */
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.6;
}

/* 푸터 컨테이너 */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* 화면이 작으면 세로로 쌓이도록 */
  padding: 0px 30px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* 좌측 영역 */
.footer-left {
  flex: 1 1 300px; /* 최소 300px */
  /* border: 1px solid red; */
}

.footer-logo img {
  width: 150px; /* 로고 크기 */
  margin: 5px 0;
}

.footer-address p {
  margin: 5px 0;
  line-height: 2rem;
}

/* 우측 영역 */
.footer-right {
  flex: 1 1 300px;
  text-align: right;
  position: relative;
  /* border: 1px solid red; */
}

.footer-contact p {
  margin: 5px 0;
  line-height: 2rem;
}

.footer-social {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
}

.footer-social a {
  display: inline-block;
  margin-left: 10px;
  color: #fff;
  margin: 5px 0;
}

.footer-ck img {
  width: 70px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 5px 0;
}

/* ------------------------------------------
   모바일: 600px 이하
------------------------------------------ */
@media (max-width: 600px) {
  /* 비디오 전체 화면 */
  .video-full {
    width: 100vw;
    height: 30vh;
    overflow: hidden;
  }

  .video-full video {
    width: 100%;
    height: 100%;
  }
  .video-nav {
    display: none;
  }
  /* 회사소개 섹션 */
  .about-us {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s;
    color: #fff;
    font-weight: bold;
    position: relative;
    overflow: hidden;
  }

  /* 텍스트 (플러스보다 위, 오른쪽에서 슬라이드) */
  .about-us .list.text div {
    position: absolute;
    left: 50%;
    transform: translateX(150%); /* 오른쪽 밖에서 시작 */
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    font-size: calc(20px + 10vw);
    color: #fff;
    z-index: 10;
  }
  /* 플러스보다 위 위치 */
  .about-us .text1,
  .text2,
  .text3 {
    top: calc(50% - 220px);
  }

  /* 로고 (플러스보다 아래, 중앙) */
  .about-us .logo {
    width: calc(200vw + 200px);
    width: 200vw;
    height: auto;
    position: absolute;
    top: calc(50% + -20px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 0;
    transition: opacity 1s;
  }

  /* footer */

  footer {
    width: 100vw;
    height: auto; /* 내용에 맞춰 자동 */
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    font-size: 0.7rem;
    flex: 1 1 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-social {
    justify-content: center;
  }
  .footer-ck img {
    position: absolute;
    right: 0; /* 오른쪽 끝 */
    top: 50%; /* 세로 중앙 */

    width: 70px; /* 필요 시 크기 조절 */
  }
}

/* ------------------------------------------
   태블릿: 601px ~ 1220px
------------------------------------------ */
@media (min-width: 601px) and (max-width: 1220px) {
  /* 비디오 전체 화면 */
  .video-full {
    padding: 120px 0;
    height: 50vw;
  }
  .video-full video {
    width: 100%;
    height: 100%;
  }
  .video-nav {
    display: none;
  }

  /* 회사소개 섹션 */
  .about-us {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.5s;
    color: #fff;
    font-weight: bold;
    position: relative;
    overflow: hidden;
  }
  /* 플러스 중앙 */
  .about-us .plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  /* 텍스트 (플러스보다 위, 오른쪽에서 슬라이드) */
  .about-us .list.text div {
    position: absolute;
    left: 50%;
    transform: translateX(150%); /* 오른쪽 밖에서 시작 */
    opacity: 0;
    transition: transform 1s ease, opacity 1s ease;
    font-size: calc(20px + 10vw);
    color: #fff;
    z-index: 10;
  }
  /* 플러스보다 위 위치 */
  .about-us .text1,
  .text2,
  .text3 {
    top: calc(50% - 300px);
  }

  /* 로고 (플러스보다 아래, 중앙) */

  .about-us .logo {
    width: 200vw;
    max-width: 1220px;
    min-width: 601px;
    height: auto;
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    opacity: 0;
    transition: opacity 1s;
  }

  /* footer */
  footer {
    width: 100vw;
    height: auto; /* 내용에 맞춰 자동 */
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-left,
  .footer-right {
    flex: 1 1 50%;
  }

  .footer-social {
    justify-content: flex-end;
  }

  /* .footer-ck img {
    position: absolute;
    right: 25%;
    bottom: 0;
  } */
}
